@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-background-dark: #080808;
  --color-background-light: #262626;
  --color-background-bright: #3b3b3b;

  --color-primary: #cc4395;
  --color-secondary: #734e87;
  --color-accent: #496ae3;

  --color-text-main: #d1d1d1;
  --color-text-muted: #9c9c9c;
  --color-text-dark: #454545;
}

.spinner-svg {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
 
  &::-webkit-scrollbar {
    display: none;
  }
}
html, body {
  overscroll-behavior-y: none;
}